/**
 * projekt: Online Magasin
 **/

/* Adobe fonts */
@import url("https://use.typekit.net/dyt8ueu.css");
/* font-family: 'usual', sans-serif; */ /* font-weight: 700; font-style: normal; */
@import url("https://use.typekit.net/vim7uiv.css");
/* font-family: 'rig-shaded-medium-face', sans-serif; font-weight: 500; font-style: normal; */
@import url("https://use.typekit.net/vim7uiv.css");
/* font-family: 'futura-pt', sans-serif; font-weight: 300; font-style: normal; */
@import url("https://use.typekit.net/vim7uiv.css");
/* font-family: 'franklin-gothic-urw', sans-serif; font-weight: 300; font-style: normal; */

/* Variabler*/
:root {
  /* farver */
  --black: #000000;
  --greyblack: #1A1A1A;
  --white: #FFFFFF;
  --grey: #EDEEEE;
  --red: #C92A25;
  --darkgrey: #717171;

  /* fonte */
  --overskrift: 'usual', sans-serif; /* overskrifter */
  --underoverskrift: 'rig-shaded-medium-face', sans-serif; /* underoverskrifter */
  --brødtekst: 'futura-pt', sans-serif; /* brødtekst */
  --brødtekstarticle: 'franklin-gothic-urw', sans-serif; /* brødtekst ændret til */
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* MENUBAR */
#navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 100%;
    background: var(--grey);
}

/* Dropdown Button - https://www.w3schools.com/howto/howto_css_dropdown.asp */
.dropbtn {
  color: var(--greyblack);
  padding-bottom: 16px;
  padding-top: 16px;
  font-family: var(--underoverskrift);
  font-size: 80%;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--grey);
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--greyblack);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: var(--underoverskrift);
  font-size: 80%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--red);
  color: var(--grey);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--grey)
}

.dropbtn:hover {
  color: var(--red);
  cursor: pointer;
}

#navigationred {
text-decoration: none;
color: var(--red);
font-family: var(--underoverskrift);
font-size: 80%;
}


/* header forside */
header {
  float: left;
  height: 790px;
  width: 100%;
  background: var(--white);
}

header .btn1 {
  position: absolute;
  top: 58%;
  left: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: var(--red);
  color: var(--white);
  font-family: var(--underoverskrift);
  font-size: 90%;
  padding: 10px 30px;
  padding-top: 12px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

header .btn2 {
  position: absolute;
  top: 58%;
  right: 12%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: var(--red);
  color: var(--white);
  font-family: var(--underoverskrift);
  font-size: 90%;
  padding: 10px 30px;
  padding-top: 12px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.forsideheaderplacement {
  position: absolute;
  top: 42%;
  left: 10.5%;
  width: 300px;
  font-family: var(--underoverskrift);
  font-size: 100%;
  color: var(--greyblack);
}

.forsideheaderplacementunder {
  position: absolute;
  top: 45%;
  left: 10.5%;
  width: 300px;
  font-family: var(--overskrift);
  font-size: 230%;
  color: var(--greyblack);
}

.forsideheaderplacement2 {
  position: absolute;
  top: 42%;
  right: 5%;
  width: 300px;
  font-family: var(--underoverskrift);
  font-size: 100%;
  color: var(--grey);
}

.forsideheaderplacementunder2 {
  position: absolute;
  top: 45%;
  right: 5%;
  width: 300px;
  font-family: var(--overskrift);
  font-size: 230%;
  color: var(--grey);
}

/* typography */
#overskrifter {
  font-family: var(--overskrift);
  color: var(--greyblack);
  padding-bottom: 20px;
}

#overskrift2 {
  font-family: var(--overskrift);
  color: var(--greyblack);
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 100%;
}

#overskrift3 {
  font-family: var(--overskrift);
  color: var(--greyblack);
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 110%;
}

#brødtekst {
  font-family: var(--brødtekstarticle);
  color: var(--greyblack);
  padding-bottom: 20px;
  font-size: 98%;
}

#textarticle {
  font-family: var(--brødtekstarticle);
  color: var(--greyblack);
  padding-bottom: 20px;
}

#textarticle2 {
  font-family: var(--brødtekstarticle);
  color: var(--grey);
  padding-bottom: 20px;
}

#textarticle3 {
  font-family: var(--brødtekstarticle);
  color: var(--greyblack);
  padding-bottom: 20px;
  padding-top: 20px;
}

#textarticle4 {
  font-family: var(--brødtekstarticle);
  color: var(--grey);
  padding-bottom: 20px;
}

/* section: nyeste artikler */
#nyesteartikler {
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}

#gallerinyeste img {
  width: 100%;
  height: auto;
}

#gallerinyeste {
  margin: 0;
  float: left;
  width: 300px;
}

/* placer galleri i midten - sidste 3 billeder (flexbox ville ikke virke) */
#gallerinyeste2 img {
  width: 100%;
  height: auto;
}

#gallerinyeste2 {
  margin-left: 26px;
  float: left;
  width: 300px;
}

/* section: begynder guide */
#begynderguide img {
  margin-top: 47px;
}

.btn3 {
  position: absolute;
  top: 209%;
  left: 17.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: var(--red);
  color: var(--white);
  font-family: var(--underoverskrift);
  font-size: 90%;
  padding: 10px 30px;
  padding-top: 12px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.forsidebegynderplacement {
  position: absolute;
  top: 189%;
  left: 12.5%;
  width: 300px;
  font-family: var(--overskrift);
  font-size: 210%;
  color: var(--grey);
}

.forsidebegynderplacementunder {
  position: absolute;
  top: 196%;
  left: 12.5%;
  width: 650px;
  font-family: var(--brødtekstarticle);
  font-size: 110%;
  color: var(--grey);
}

/* section: bliv inspireret */
#blivinspireret {
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  margin-top: 20px;
  height: 620px;
}

#galleriinspireret img {
  width: 100%;
  height: auto;
}

#galleriinspireret {
  margin: 0;
  float: left;
  width: 626px;
}

/* placer galleri i midten - sidste billede (flexbox ville ikke virke) */
#galleriinspireret2 img {
  width: 100%;
  height: auto;
}

#galleriinspireret2 {
  margin-left: 26px;
  float: left;
  width: 626px;
}

/* subpages */
#article {
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
}

#articlebilled {
  padding-top: 15px;
  padding-bottom: 30px;
}

/* LÆS MERE */
#læsmeretekst {
  float: left;
  font-family: var(--underoverskrift);
  color: var(--darkgrey);
  padding-top: 2px;
  margin-bottom: 20px;
}

#læsmereikon {
  padding: 10px;
}

.læsmerelink {
  font-size: 80%;
  list-style: none;
  transition: all 0.5s ease 0s;
}

.læsmerelink a:link, a:visited {
  text-decoration: none;
}

.læsmerelink a:hover {
  color: var(--red);
}

/* subpages: FOTOAPPS */
.overskriftheaderplacement {
  position: absolute;
  top: 63%;
  left: 7%;
  width: 300px;
  font-family: var(--overskrift);
  font-size: 220%;
  color: var(--greyblack);
}

.tekstheaderplacement {
  position: absolute;
  top: 75%;
  left: 7%;
  width: 430px;
}

.download {
  list-style: none;
  display: flex;
  align-items: flex-start;
}

.download li a {
  padding-left: 6px;
  color: var(--darkgrey);
  text-decoration: none;
}

.download li a:hover {
  color: var(--red);
}

/* subpages: BEGYNDER GUIDE */
.overskriftheaderplacement2 {
  position: absolute;
  top: 67%;
  left: 7%;
  width: 350px;
  font-family: var(--overskrift);
  font-size: 220%;
  color: var(--grey);
}

#gallerieksponering {
  width: 31%;
  background-color: var(--grey);
  margin: 7px;
  float: left;
  margin-bottom: 30px;
}

#gallerieksponering h3 {
  padding-left: 20px;
  padding-right: 20px;
}

/* subpages: PRESETS */
.overskriftheaderplacement3 {
  position: absolute;
  top: 63%;
  left: 7%;
  width: 400px;
  font-family: var(--overskrift);
  font-size: 220%;
  color: var(--grey);
}

/* footer*/
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: var(--grey);
  color: var(--greyblack);
}

#footerinfo {
  text-align: center;
  margin-top: 45px;
  padding: 5px;
  font-family: var(--brødtekst);
  font-size: 80%;
}

#underoverskrift {
  font-family: var(--underoverskrift);
  color: var(--red);
  font-size: 70%;
}

#footer {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 60px;
}

#socialemedier img {
  width: 20%;
  height: auto;
}

#socialemedier {
  margin: 0;
  float: left;
  width: 300px;
  margin-left: 60px;
}

#footertekst {
  margin-left: 26px;
  float: left;
  padding-left: 100px;
  padding-right: 100px;

}

#footertekst li {
  list-style: none;
}

#footertekst li a {
  transition: all 0.5s ease 0s;
  font-family: var(--brødtekstarticle);
  font-size: 80%;
}

#footertekst a:link, a:visited {
  color: var(--greyblack);
  text-decoration: none;
}

#footertekst a:hover {
  color: var(--red);
}

#kundeservice {
  font-family: var(--brødtekst);
  font-size: 80%;
}
